#exampleFormControlSelect1{
    align-items: center;
    text-align: center;
}




@media (min-width: 500px) {
    #exampleFormControlSelect1{
        align-items: center;
        text-align: center;
        width: 500px;
    }

}
