@media (max-width: 360px) {

    iframe{
        width: 230px !important;
        padding-left: 0px;
        padding-right: 10px;
    }

    .card{
        width: 280px !important;
    }


    *{
        overflow: visible;
    }


}