*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    background: black;
    position: static;
}


.navbar-brand{
    color: white;
    background: white;
    border: none;
    font-weight: bold;
}

.nav-link{
    border: none;
    cursor: pointer;
    transition: .60s;
    border-radius: 15px;
    background-color: white;
}

.nav-item{
    margin-left: 15px;
    color: white;
}

.active{
    background-color: #59AC59;
    border-radius: 30px 30px;
    color: white !important;
}

.nav-link:hover{
    transition: .60s;
    border-radius: 30px 30px;
    color: white !important;
    background-color: #59AC59;
}


/* .nav-link:hover span{ */
/*     border-bottom: 3px solid green; */
/*     padding-bottom:2px; */
/*     transition: 0.50s; */
/* } */



@media (max-width: 550px) {
    .nav-link:hover{
        background: none;
        border-radius: none;
        color: white!important;
    }

}
